body {
    margin: 0;
    padding: 0;
    background-image: url("ultra-hd-wazf67lzyh5q7k32.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Times New Roman", Times, serif;
}
.container {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: white;
}
th {
    background-color: #fc3b71;
}
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}
tr:hover {
    background-color: rgba(232, 35, 203, 0.3);
}
tfoot {
    font-weight: bold;
}
